<div class="cell-box center-content">
    <img style="z-index: 1;" src="@path" alt="@($"cell_{cell.X}_{cell.Y}.png")" class="img-fluid cell-image" @onclick="_OnClick">
    @if(cell.Interactive is not null && cell.Interactive.ActualState == State.Active)
    {
        <img style="z-index: 2;" src="@interactivePath" alt="@($"cell_{cell.X}_{cell.Y}.png")" class="img-fluid cell-image" @onclick="_OnClick">
    }
    @if(GM.EndPoints.Contains(cell))
    {
        <img style="z-index: 2;" src="img/cells/end.png" alt="@($"cell_{cell.X}_{cell.Y}.png")" class="img-fluid cell-image" @onclick="_OnClick">
    }
    @if(cell.IsColored)
    {
        <img style="z-index: 3;" src="img/cells/colored.png" alt="@($"cell_{cell.X}_{cell.Y}.png")" class="img-fluid cell-image" @onclick="_OnClick">
    }    
    @if(characters.Count > 0)
    {
        <img style="z-index: 4;" src="@($"img/cells/{color[GetNumberOfPlayerByToken(characters[0]) - 1]}.png")" alt="@($"cell_{cell.X}_{cell.Y}_token1.png")" class="img-fluid @($"cell-image-1token{characters.Count}")" @onclick="() => _OnClickToken(0)">
        @if(selectedToken is not null && selectedToken.Equals(characters[0]))
        {
            <img style="z-index: 5;" src="img/cells/selected.png" alt="@($"cell_{cell.X}_{cell.Y}_token1.png")" class="img-fluid @($"cell-image-1token{characters.Count}")" @onclick="() => _OnClickToken(0)">
        }        
        @if(characters[0].IsTargeted)
        {
            <img style="z-index: 6;" src="img/cells/targered.png" alt="@($"cell_{cell.X}_{cell.Y}_token1.png")" class="img-fluid @($"cell-image-1token{characters.Count}")" @onclick="() => _OnClickToken(0)">
        }
        @if(characters[0] is NPC)
        {
            <img style="z-index: 7;" src="img/cells/NPC.png" alt="@($"cell_{cell.X}_{cell.Y}_token1.png")" class="img-fluid @($"cell-image-1token{characters.Count}")" @onclick="() => _OnClickToken(0)">
        }
        else
        {
            <img style="z-index: 7;" src="@($"img/cells/{characters[0].GetType().Name}.png")" alt="@($"cell_{cell.X}_{cell.Y}_token1.png")" class="img-fluid @($"cell-image-1token{characters.Count}")" @onclick="() => _OnClickToken(0)">
        }
        @if(characters.Count > 1)
        {
            <img style="z-index: 4;" src="@($"img/cells/{color[GetNumberOfPlayerByToken(characters[1]) - 1]}.png")" alt="@($"cell_{cell.X}_{cell.Y}_token2.png")" class="img-fluid cell-image-2token2" @onclick="() => _OnClickToken(1)">
            @if(selectedToken is not null && selectedToken.Equals(characters[1]))
            {
                <img style="z-index: 5;" src="img/cells/selected.png" alt="@($"cell_{cell.X}_{cell.Y}_token2.png")" class="img-fluid cell-image-2token2" @onclick="() => _OnClickToken(1)">
            }        
            @if(characters[1].IsTargeted)
            {
                <img style="z-index: 6;" src="img/cells/targered.png" alt="@($"cell_{cell.X}_{cell.Y}_token2.png")" class="img-fluid cell-image-2token2" @onclick="() => _OnClickToken(1)">
            }
            @if(characters[1] is NPC)
            {
                <img style="z-index: 7;" src="img/cells/NPC.png" alt="@($"cell_{cell.X}_{cell.Y}_token2.png")" class="img-fluid cell-image-2token2" @onclick="() => _OnClickToken(1)">
            }
            else
            {
                <img style="z-index: 7;" src="@($"img/cells/{characters[1].GetType().Name}.png")" alt="@($"cell_{cell.X}_{cell.Y}_token2.png")" class="img-fluid cell-image-2token2" @onclick="() => _OnClickToken(1)">
            }
        }
    }
</div>

@code{
    [Parameter] required public Cell cell { get; set; }
    [Parameter] public EventCallback<(int X, int Y, Character? token)> OnClick { get; set; }
    [Parameter] public PlayableCharacter? selectedToken {get; set;} = null;
    static GameManager GM = GameManager.GM;
    private string path {
        get{
            string _path = "img/cells/";
            _path += cell.Walls["top"] ? "1" : "0";
            _path += cell.Walls["right"] ? "1" : "0";
            _path += cell.Walls["bottom"] ? "1" : "0";
            _path += cell.Walls["left"] ? "1" : "0";
            _path += ".png";
            return _path;
        }
    }
    private string interactivePath {
        get{
            string _path = "img/cells/";
            _path += cell.Interactive?.GetType().Name;
            _path += ".png";
            return _path;
        }
    }
    private List<Character> characters {
        get{
            return GM.GetCharactersInCell(cell);
        }
    }
    private string[] color = new string[5]{"blue", "red", "green", "yellow", "gray"};

    private async Task _OnClick()
    {
        await OnClick.InvokeAsync((cell.X, cell.Y, null));
    }

    private async Task _OnClickToken(int number)
    {
        if(number >= 0 && number < characters.Count)
        {
            await OnClick.InvokeAsync((cell.X, cell.Y, characters[number]));
        }
    }

    private static int GetNumberOfPlayerByToken(Character? character)
    {
        if (character is not null)
        {
            foreach(Player player in GM.ActivePlayers)
            {
                if (player.Tokens.Contains(character)) return GM.ActivePlayers.IndexOf(player) + 1;
            }
            foreach(Player player in GM.NonActivePlayers)
            {
                if (player.Tokens.Contains(character)) return GM.NonActivePlayers.IndexOf(player) + GM.ActivePlayers.Count + 1;
            }
        }
        return 0;
    }
}